@import "tailwindcss";
@plugin "daisyui";


@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

:root {
  --color-primary: #0b0160; /* your primary color */
  --color-primary-foreground: #fff; /* text color for primary buttons */
}
